@font-face{
    font-family:Bellota;
    src:url('/static/fonts/Bellota-Light.ttf');
}
@font-face{
    font-family:Allan;
    src:url('/static/fonts/Allan-Regular.ttf');
}
*{
    font-family:  Bellota;
    margin:0;
    padding: 0;
}

.register{
    margin-left: 30px;
}

.header{
    width:100%;
    color: black;
    font-family:  Bellota;
    padding: 20px;
    background: rgb(231, 229, 229);
	box-sizing: border-box;
}

.text-profile{
    color:black;
    font-size:40px;
    margin-top:20px;
}

.logo-img{
    width: 100px;
    height: 100px;
    margin-left:40px;
    
}
.logo-title{
    font-size: 70px;
    font-family: Allan;
}

.btn.btn-primary {
    background-color: #000; 
    border-color: #000;     
    color: #fff;    
    padding: 10px 70px;
    margin-top: 22px;
    border-radius: 10px;
    font-size: 20px;      
  }
  
.btn.btn-primary:hover {
    background-color: #333; 
    border-color: #333;
    color: #fff;
  }

.front-button{
    margin-top: 70px;
}

.front-text-container{
    background-color: white;
    padding-left: 70px;
    padding-top:100px;
    padding-right:70px;
    padding-bottom: 200px;
}

.form-register{
    margin: auto;
    margin-top:100px;
    margin-bottom: 100px;
    width: 600px;;
    padding-left:30px;
    padding-right:30px;
    height: 650px;
    padding-top:60px;
    background-color: white;

    border: 3px solid black;
}

.form-authorize{
    margin: auto;
    margin-top:100px;
    margin-bottom: 100px;
    width: 600px;;
    padding-left:30px;
    padding-right:30px;
    height: 500px;
    padding-top:60px;
    background-color: white;

    border: 3px solid black;
}


.front-text{
    font-size: 70px;
    font-family: Bellota;

}


.footer{
    background: rgb(231, 229, 229);
    padding: 40px 0px;
}

.copyright{
    color: black;
    padding-left:20px;
}




