{% extends "base.html" %}

{% block content %}
<div class='form-create-wish'>
    <p style="font-size: 30px; text-align: center;">Добавь новый wish!)</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.name.label }}:
            {{ form.name(class="form-control") }}
            {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.description.label }}:
            {{ form.description(class="form-control") }}
            {% for error in form.description.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.image.label }}:
            {{ form.image(class="form-control") }}
            {% for error in form.image.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </div>

        <div class="mb-3">
            {{ form.price.label }}:
            {{ form.price(class="form-control") }}
            {% for error in form.price.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
            {% endfor %}
        </div>

        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}

    </form>
</div>
{% endblock %}
