{% extends "base.html" %}

{% block content %}
<section class='user'>
    <div class='user-section'>
        <div class='user-text'>
            <h1 class='banner-title' style="font-size:50px; margin-top:60px; margin-left:270">{{current_user.username}}</h1>
        </div>
    </div>
</section>


<section class='wishlists-section'>
    <div class='container'>
        <div class='wishlists-heading'>
            <h1 class='wishlists-title' style="font-size: 50px; margin-top:20px">Мои wish-листы</h1>
            <a style="height: 70px; width: 350px; padding-top:15px; font-size:23px; margin-bottom: 50px"
               class="btn btn-primary" href='/create-wishlist' role="button">Создать
                wish-лист</a>
        </div>


        <div class='wishlists'>
            {% for item in wishlists%}
            <div class='cards-row'>
                <div class='card'>
                    <div class='card-body'>
                        <h3 class='card-title'>{{ item.title }}</h3>
                        <div class='card-text'>{{ item.description }}</div>
                        <div class='card-button'>
                            <a class='card-link' href="/wishlist/{{ item.id }}">Открыть wish-лист</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>
</section>

{% endblock %}
